<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gửi Thông Báo</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
